body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
    padding: 40px;
    background: linear-gradient(to bottom, #222, #333);
}
form {
    margin-bottom: 20px;
}
input, button {
    padding: 8px;
    font-size: 16px;
}
.carta-pokemon {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: inline-block;
    padding: 24px;
    margin-top: 20px;
}
.carta-pokemon img {
    width: 120px;
    height: 120px;
}
ul {
    list-style: none;
    padding: 0;
}
h1 {
    text-align: center;
    
    background-color: gold;
}